<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables --> 
    <add name="CBAzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=dwcbstordev;AccountKey=2henTkvVo8/5fS+Doh/36rOv6kB3TIjaWXOFM9SUFKmmRkeR/kMUXh4xqzRMRWj8moI2K9ghwluaQSDPl9xlNQ==;" />
    <add name="CBAzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=dwcbstordev;AccountKey=2henTkvVo8/5fS+Doh/36rOv6kB3TIjaWXOFM9SUFKmmRkeR/kMUXh4xqzRMRWj8moI2K9ghwluaQSDPl9xlNQ==;" />
    <add name="CBSchedulerDBConnectionString" connectionString="Server=tcp:dwasqldb.database.windows.net,1433;Database=dwCloudBread2;User ID=konan@dwasqldb;Password=P@ssw0rd;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!-- This is DB connection retry trial count. DB연결 재시도 수 -->
    <add key="CloudBreadconRetryCount" value="3"></add>
    <!-- This is DB connection retry trial wait second. In production environment, recommend change to 30 to handle throttling condition. DB연결 재시도 대기 시간 초. 프러덕션 환경에서는 스로틀링 핸들을 위해 30으로 설정 권장 -->
    <add key="CloudBreadconRetryFromSeconds" value="5"></add>
    
    <!-- Adding CloudBread-Scheduler notification configuration - 알림 설정 추가 -->
    <add key="CBNotiEmailSenderID" value="cloudbread54@gmail.com"></add>
    <add key="CBNotiEmailSenderPassword" value="P@@ssw0rd"></add>
    <add key="CBNotiSlackWebhookURL" value="https://hooks.slack.com/services/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"></add>      
  </appSettings>
  
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>